DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kuspace?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/kuspace?schema=public"

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=""
CLERK_SECRET_KEY=""
NEXT_PUBLIC_CLERK_SIGN_IN_URL="/login"
NEXT_PUBLIC_CLERK_SIGN_UP_URL="/sign-up"
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL="/"
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL="/"

STRIPE_SECRET_KEY=""
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_CONNECT_RETURN_URL="http://localhost:3000/office"
STRIPE_CONNECT_REFRESH_URL="http://localhost:3000/office"
STRIPE_CHECKOUT_SUCCESS_URL="http://localhost:3000/tickets"
STRIPE_CHECKOUT_CANCEL_URL="http://localhost:3000/tickets"
